@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n7tdjr');
  src:  url('fonts/icomoon.eot?n7tdjr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n7tdjr') format('truetype'),
    url('fonts/icomoon.woff?n7tdjr') format('woff'),
    url('fonts/icomoon.svg?n7tdjr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* tag overrides */
html {
  background-color: #EAE7DC;
  box-sizing: border-box;
  color: #2F4454;
  font-family: "Courier New", Courier, monospace;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

/* h1, h2, h3, h4, h5, h6 {
  margin: 0;
} */

/* icons */
[class^="icon-"], [class*=" icon-"] {
  font-size: 4em;
  height: 1em;
  width: 1em;

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\ea83";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eac9";
}

/* transitions */
.fade {
  transition: 500ms opacity;
  transition-delay: 500ms;
}

.has-js .fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

/* font */
.text-xl {
  font-size: 6em;
}

/* positional */
.centered-xy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.centered-text {
  text-align: center;
}

/* "modules" */
.link-container a {
  margin: 0 1em;
}

.link-icon {
  color: #E98074;
  transition: all 500ms;
}

.link-icon:hover {
  color: #E85A4F;
}
