@import 'theme';

.page-half {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  min-height: 20rem;
}

.page-half--primary {
  background-color: $primary;
  color: $font-light;
}

.page-half--secondary {
  background-color: $secondary;
  color: $font-dark;
}

/* icons */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n7tdjr');
  src:  url('fonts/icomoon.eot?n7tdjr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n7tdjr') format('truetype'),
    url('fonts/icomoon.woff?n7tdjr') format('woff'),
    url('fonts/icomoon.svg?n7tdjr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-size: 2em;
  height: 1em;
  width: 1em;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\ea83";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eac9";
}

/* "modules" */
.link-container {
  margin: $space-l 0;

  a {
    margin: 0 $space-m;

    &:first-child, &:last-child {
      margin: 0;
    }
  }
}

.link-container__icon {
  color: $font-light;
  transition: color 200ms;

  &:hover {
    color: $font-dark;
  }
}

.hero {
  display: flex;
  align-items: center;
  height: 100%;
}

.hero__description {
  user-select: none;
}

.hero__image {
  overflow: hidden;
  margin: $space-xl;
  border-radius: 50%;

  img {
    height: 15rem;
  }
}
