$primary: #106466;
$primary-light: #499294;
$primary-dark: #00393c;
$secondary: #ffcb9a;
$secondary-light: #fffecb;
$secondary-dark: #ca9a6b;
$background: $secondary;
$font: #000;
$font-light: hsla(0, 0%, 95%, 1);
$font-dark: $primary-dark;

$space-s: 0.5rem;
$space-m: 1rem;
$space-l: 2rem;
$space-xl: 4rem;

$not-mobile-breakpoint: 40rem;
